.Orders-Back-ground {
  border-style: solid;
  border-width: 10px;
  border-color: #f8f8f8;
  border-top-width: 90px;
}

.bank-collapse-div {
  border-style: solid;
  border-width: 5px;
  border-color: #f8f8f8;
}
